/* CSS Box Aesthetics */

.box {
	float:left;
	width:200px;
	height:200px;
	margin:20px;
	padding:20px;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	background: #ccc;












	/*
	float:left;
	width:200px;
	height:200px;
	margin:20px;
	padding:20px;
	color:white;
	font-weight:bold;
	font-size:20px;
	background:#ccc;
	*/
}

.bgimg1 {
	background:url(images/small-black-stripe.gif);

	
	/*
	background:url('images/small-black-stripe.gif');
	background-image:url('myimage.gif');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	*/
}

.bgimg2 {
	
	background: url(images/storm2.jpg) no-repeat -200px 0;
	/*
	background:url('images/storm2.jpg') no-repeat;
	background-repeat:repeat;
	background-repeat:no-repeat;
	background-repeat:repeat-x;
	background-repeat:repeat-y;
	*/
}

.bgimg3 {

	background:url(images/horizontal-fade.png) repeat-y -200px 0px;
	
	/*background:url('images/horizontal-fade.png') repeat-y -200px 0;*/
}

.bgimg4 {
	
	background:url(images/storm2.jpg) no-repeat center center;

	/*
	background:url('images/storm2.jpg') no-repeat center center;
	background-position:left top;
	background-position:left center;
	background-position:left bottom;
	background-position:right top;
	background-position:right center;
	background-position:right bottom;
	background-position:center top;
	background-position:center center;
	background-position:center bottom;
	background-position: 0 0;
	background-position: 20px 47px;
	background-position: 10% 50%;
	*/
}

body{
	
	background:url(images/vertical-fade.png) repeat-x #fff fixed;
	
	background-attachment:scroll;
	/*
	background:#fff url('images/vertical-fade.png') repeat-x fixed;
	background-attachment:fixed;
	background-attachment:scroll;
	*/
}

.bgimg5 {
	background:url(images/spectrumofthesky-1600x1200.jpg) no-repeat;
	background-size:200px 100px;
	
	/*
	background:url('images/spectrumofthesky-1600x1200.jpg') no-repeat;
	background-size:cover;
	background-size: 200px;
	background-size: 200px 100px;
	background-size: auto;
	background-size: 100%;
	background-size: contain;
	background-size: cover;
	*/
	
	/*
	see info at: http://www.css3.info/preview/background-size/
	*/
}

.bgimg6 {

	background:url(images/dark-tile.gif);

	/*background:url('images/dark-tile.gif');*/
}

.bgimg7 {
	background:url(images/armored.gif);
	/*background:url('images/armored.gif');*/
}

.opacity {
	filter: alpha(opacity=20);
	-moz-opacity:0.2;
	-webkit-opacity:0.2;
	-o-opacity:0.2;
	opacity:0.2;


	/*filter: alpha(opacity=20); /* IE 5 - 8 */
	/*-moz-opacity:0.2; /* Firefox */
	/*-khtml-opacity: 0.2; /* Safari, Chrome */
	
	/*opacity: 0.2; /* CSS 3 */
}

.rounded {
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;

	/*-moz-border-radius: 20px; /* Firefox */
 	/*-webkit-border-radius: 20px; /* Safari, Chrome */
 	
	/*border-radius: 20px; /* CSS3 */
}

.shadow {

	
	border-radius:200px;
	text-shadow:0px -1px 0px red;


	/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')"; /* For IE 8 */
	/*-moz-box-shadow: 5px 5px 20px #888; /* Firefox */
	/*-webkit-box-shadow: 5px 5px 20px #888; /* Safari, Chrome */
	
	/*box-shadow: 5px 5px 20px #888; /* CSS 3 */
	
	/* 
	see info at: http://www.css3.info/preview/box-shadow/
	*/
}


.shadow:hover{
	box-shadow:  3px 3px 20px #777;
}








